.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: white;

	padding: 15px;
	border: 1px solid white;
	border-radius: 5px;
}

.button:hover {
	color: black;
	background-color: white;
}
